@{
    Layout = "_KioskLayout";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>More content coming soon!</p>
    <p>CI/CD Pipelines built using Azure!</p>

</div>
